<html>
<head>
  <title>Hello Index!</title>
</head>
<body>
<h1>Mustache Index</h1>
<ul>
  <li><a href="reports/pdf1">pdf datasource report spring controller</a></li>
  <li><a href="grailsReports/pdf1">pdf datasource report grails controller (Grails) </a></li>
  <li><a href="reports/about">about test</a></li>
</ul>

</body>
</html>
