<html>
<head>
  <title>Hello Index!</title>
</head>
<body>
<h1>Mustache Index</h1>
<ul>
  <li><a href="about">about test</a></li>
  <li><a href="reports/pdf1">pdf datasource report grails controller</a></li>
  <li><a href="pdf1">pdf datasource report spring controller</a></li>
</ul>

</body>
</html>
